<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Portfolio{% endblock %}</title>
    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'portfolio:about' %}">À propos</a></li>
                <li><a href="{% url 'portfolio:project_list' %}">Tous les projets</a></li>
                
                <li><a href="{% url 'portfolio:project_create' %}">Créer un projet</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Contenu spécifique de chaque page -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Mon Portfolio</p>
    </footer>
</body>
</html>
