<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Portfolio{% endblock %}</title>
    <!-- Bootstrap CSS -->


<link href="https://cdn.jsdelivr.net/npm/bootswatch@5/dist/litera/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'portfolio:about' %}">À propos</a></li>
                <li><a href="{% url 'portfolio:project_list' %}">Tous les projets</a></li>
                {% if user.is_authenticated and user.is_superuser %}
                <li><a href="{% url 'portfolio:project_create' %}">Créer un projet</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Contenu spécifique de chaque page -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Mon Portfolio</p>
    </footer>
    <!-- Bootstrap JS -->
     <!-- Bootstrap JS -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
     <
</body>
</html>
