{% load static %}

    <!-- ✅ Sidebar : Section "À propos" sous forme de carte -->

    <div class="card about-card ">
        <div class="card-body text-center">
            <!-- ✅ Image arrondie -->
            <img src="{% static 'about/profile.jpeg' %}" class="about-profile-img rounded-circle" alt="Photo de profil">
            
            <h5 class="card-title mt-3">À propos</h5>
            <p class="card-text">Je suis un développeur passionné par le développement web et les solutions back-end.</p>
        </div>
    </div>


