{% extends "base.html" %}

{% block title %}Liste des Projets{% endblock %}

{% block content %}
    <h1>Liste des Projets</h1>
    <ul>
        {% for project in projects %}
            <li>
                <h2><a href="{% url 'portfolio:project_detail' project.id %}">{{ project.title }}</a></h2>
                <img src="{{ project.image.url }}" alt="{{ project.title }}" style="max-width: 300px;">
                <p>{{ project.description }}</p>
                <a href="{% url 'portfolio:project_detail' project.id %}">Voir les détails</a>
                
                <a href="{% url 'portfolio:project_update' project.id %}">Modifier</a> |
                <a href="{% url 'portfolio:project_delete' project.id %}">Supprimer</a>
       
            </li>
        {% empty %}
            <li>Aucun projet disponible.</li>
        {% endfor %}
    </ul>
{% endblock %}

