<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des projets</title>
</head>
<body>
    <h1>Liste des projets</h1>
    <ul>
        {% for project in projects %}
            <li>
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                <a href="{% url 'portfolio:project_detail' project.pk %}">Voir les détails</a>
            </li>
        {% empty %}
            <li>Aucun projet disponible.</li>
        {% endfor %}
    </ul>
</body>
</html>
