{% extends "base.html" %}
{% load static %}

{% block title %}Projets{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Section des Projets -->
        <div class="col-md-8">
            <h1 class="pb-4 mb-4 border-bottom">Projets</h1>

            {% for project in projects %}
            <div class="card project-card mb-4">
                <div class="row g-0 align-items-center">
                    <!-- Contenu du projet (maintenant à gauche) -->
                    <div class="col-md-8 order-md-1 order-2">
                        <div class="card-body">
                            <h3 class="card-title">
                                <a href="{% url 'portfolio:project_detail' project.id %}" class="text-dark text-decoration-none">{{ project.title }}</a>
                            </h3>
                            <p class="card-text">{{ project.resume|truncatewords:20 }}</p>
                            <a href="{% url 'portfolio:project_detail' project.id %}">En savoir plus...</a>
                            <p class="card-text mt-3"><small class="text-muted">Ajouté par : {{ project.created_by.username }}</small></p>
                            <p class="card-text"><small class="text-muted">Créé le : {{ project.created_at|date:"d/m/Y" }}</small></p>
                            {% if user.is_authenticated and user.is_superuser %}
                                <div class="d-flex justify-content-end">
                                    <a href="{% url 'portfolio:project_update' project.id %}" class="btn btn-outline-secondary btn-sm me-2">Modifier</a>
                                    <a href="{% url 'portfolio:project_delete' project.id %}" class="btn btn-outline-secondary btn-sm">Supprimer</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Image du projet (maintenant à droite) -->
                    <div class="col-md-4 order-md-2 order-1">
                        <a href="{% url 'portfolio:project_detail' project.id %}">
                            <img src="{{ project.image.url }}" class="img-fluid project-img" alt="{{ project.title }}">
                        </a></a>
                    </div>
                </div>
            </div> 
            <hr style="border: 0; height: 1px; background-color: #ccc;">
            {% empty %}
            <p>Aucun projet disponible.</p>
            {% endfor %}
        </div>



        

        <!-- Sidebar -->
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3">
                    <h4 class="fst-bold">Me</h4>
                    {% include "portfolio/about.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
